<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card-body text-center" style="margin: 40px">
                <p>Payment upon delivery!</p>
            </div>
        </div>
    </div>

</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> &nbsp; Back to review
    </button>
    <button class="btn btn-primary" (click)="submitOrder()">
        Submit order &nbsp;<i class="fa fa-angle-right"></i>
    </button>
</div>